<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../static/assets/img/apple-icon.png"
    />
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png" />
    <title>Baeoi</title>
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />
    <!-- Nucleo Icons -->
    <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../static/assets/scss/BsMultiSelect.bs4.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link
      href="../static/assets/css/black-dashboard.css?v=1.0.0"
      rel="stylesheet"
    />
  </head>

  <body class="">
    <div class="wrapper">
      <div class="sidebar">
        <div class="sidebar-wrapper">
          <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-normal">
              My Services
            </a>
          </div>
          <ul class="nav">
            <!--
            <li class="active">
              <a href="./containerDash.html">
                <i class="tim-icons icon-chart-pie-36"></i>
                <p class="font-weight-bold">당근마켓</p>
              </a>
            </li>
            <li>
              <a href="./containerDash.html">
                <i class="tim-icons icon-chart-pie-36"></i>
                <p class="font-weight-bold">토스</p>
              </a>
            </li>-->
            <li>
              <a href="javascript:;" id="deployButton">
                <i class="tim-icons icon-simple-add"></i>
                <p class="font-weight-bold">새 서비스 배포하기</p>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="main-panel">
        <!-- Navbar -->
        <!-- git anjdfkjhs-->
        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle d-inline">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
              <a class="navbar-brand" id="mylogo" href="./containerList.html"
                >BaePo</a
              >
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navigation"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                  <a
                    href="#"
                    class="dropdown-toggle nav-link"
                    data-toggle="dropdown"
                  >
                    <p hidden id="userEmail"></p>
                    <div class="photo">
                      <img
                        src="../static/assets/img/user.png"
                        alt="Profile Photo"
                      />
                    </div>
                    <b class="caret d-none d-lg-block d-xl-block"></b>
                  </a>
                  <ul class="dropdown-menu dropdown-navbar">
                    <li class="nav-link">
                      <a href="./mypage.html" class="nav-item dropdown-item"
                        >Profile</a
                      >
                    </li>
                    <!-- <li class="nav-link"><a href="#" class="nav-item dropdown-item">Guide</a></li> -->
                    <li class="dropdown-divider"></li>
                    <li class="nav-link">
                      <a
                        href="javascript:void(0)"
                        id="logoutButton"
                        class="nav-item dropdown-item"
                        >Log out</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="separator d-lg-none"></li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->

        <div class="content">
          <!-- 컨테이너명 -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-lg-1">
                      <h4 class="card-title">
                        <i class="tim-icons icon-html5"></i>
                      </h4>
                    </div>

                    <div class="col-lg-9">
                      <!-- 컨테이너명 받아오기 -->
                      <h4 class="card-title" id="containerName">
                        <p></p>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- AVG CPU Processes -->
          <div class="row">
            <!--for test
            <div class="col-lg-6">
              <div class="card card-chart" id="requestDurationPercentiles">
                <div class="card-header">
                  <h3 class="card-title"></h3>
                </div>
                <div class="card-body">
                  <iframe src="http://150.136.87.94:3000/d-solo/e424dc61-1f8e-4765-ab32-287ef63ab35d/baepo?orgId=1&var-Node=All&var-Namespace=test&var-Deployment=All&from=1691682417665&to=1691683317665&panelId=46" width="450" height="200" frameborder="0"></iframe>
                          src="http://150.136.87.94:3000/d-solo/e424dc61-1f8e-4765-ab32-287ef63ab35d/baepo?orgId=1&var-Node=All&var-Namespace=teamnonstop00gmailcom-testupload&var-Deployment=frontend&from=1691680244817&to=1691681144817&panelId=46"
                          src="http://150.136.87.94:3000/d-solo/e424dc61-1f8e-4765-ab32-287ef63ab35d/baepo?orgId=1&var-Node=All&var-Namespace=teamnonstop00gmailcom-testupload&var-Deployment=All&from=1691685764461&to=1691686664461&panelId=46"
                          http://150.136.87.94:3000/d/e424dc61-1f8e-4765-ab32-287ef63ab35d/baepo?orgId=1&var-Node=All&var-Namespace=teamnonstop00gmailcom-testupload&var-Deployment=frontend-deployment&from=1691685808631&to=1691686708631&viewPanel=46

                  <iframe src="http://150.136.87.94:3000/d-solo/e424dc61-1f8e-4765-ab32-287ef63ab35d/baepo?orgId=1&var-Node=All;var-Namespace=teamnonstop00gmailcom-testupload&amp;var-Deployment=-deployment&amp;from=1691680244817&amp;to=1691681144817&amp;panelId=46%22%3E" aria-hidden="true" frameborder="0" tabindex="-1" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" </iframe>
                  <iframe src="http://150.136.87.94:3000/d-solo/e424dc61-1f8e-4765-ab32-287ef63ab35d/baepo?orgId=1&var-Node=All&var-Namespace=teamnonstop00gmailcom-testupload&var-Deployment=frontend-deployment&from=1691686325856&to=1691687225863&panelId=46" ></iframe>

                  <iframe aria-hidden="true" frameborder="0" tabindex="-1" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" src="http://150.136.87.94:3000/d-solo/e424dc61-1f8e-4765-ab32-287ef63ab35d/baepo?orgId=1&amp;var-Node=All&amp;var-Namespace=teamnonstop00gmailcom-testupload&amp;var-Deployment=-deployment&amp;from=1691680244817&amp;to=1691681144817&amp;panelId=46%22%3E</iframe>
                  <iframe width="450" height="200" frameborder="0"></iframe>

                </div>
              </div>
            </div>
            -->
            <div class="col-lg-6">
              <div class="card card-chart" id="requestDurationPercentiles">
                <div class="card-header">
                  <h3 class="card-title">Requeset Duration Percentles</h3>
                </div>
                <div class="card-body">
                  <iframe class="mx-2" width="97%" height="100%" frameborder="0"></iframe>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card card-chart" id="requestPerMinutes">
                <div class="card-header">
                  <h3 class="card-title">Request Per Minutes</h3>
                </div>
                <div class="card-body">
                  <iframe class="mx-2" width="97%" height="100%" frameborder="0"></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card card-chart" id="cpuUsage">
                <div class="card-header">
                  <h3 class="card-title">CPU Usage</h3>
                </div>
                <div class="card-body">
                  <iframe class="mx-2" width="97%" height="100%" frameborder="0"></iframe>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card card-chart" id="memoryUsage">
                <div class="card-header">
                  <h3 class="card-title">Memory Usage</h3>
                </div>
                <div class="card-body">
                  <iframe class="mx-2" width="97%" height="100%" frameborder="0"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../static/assets/js/core/jquery.min.js"></script>
    <script src="../static/assets/js/core/popper.min.js"></script>
    <script src="../static/assets/js/core/bootstrap.min.js"></script>
    <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
    <!--외부 js파일 사용-->
    <script src="../static/assets/js/containerDash.js"></script>
  </body>
</html>
