<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/assets/img/favicon.png">
  <title>
    Baepo
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <link href="../static/assets/scss/BsMultiSelect.bs4.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-normal">
            My Services
          </a>
        </div>
        <ul class="nav">
          <!--
          <li class="active">
            <a href="./containerDash.html">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p class="font-weight-bold">당근마켓</p>
            </a>
          </li>
          <li>
            <a href="./containerDash.html">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p class="font-weight-bold">토스</p>
            </a>
          </li>-->
          <li>
            <a href="javascript:;" id="deployButton">
              <i class="tim-icons icon-simple-add"></i>
              <p class="font-weight-bold">새 서비스 배포하기</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel ps">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" id="mylogo" href="./containerList.html">BaePo</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <p  id="userEmail" hidden>{{useremail}}</p>
                  <div class="photo">
                    <img src="../static/assets/img/user.png" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="./mypage.html" class="nav-item dropdown-item">Profile</a></li>
                  <!-- <li class="nav-link"><a href="#" class="nav-item dropdown-item">Guide</a></li> -->
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href="javascript:void(0)" id="logoutButton" class="nav-item dropdown-item">Log out</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->

      <!-- container list -->
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card" id="card">

              <!--
              <div class="card-header row">
                <h3 class="card-title d-inline col-4 text-left" id="serviceName"></h3>
                <h3 class="card-title d-inline col-4 text-center" id="serviceIP"></h3>
                <button hidden id="serviceManagingButton" class="card-title btn btn-primary btn-link">
                  <i class="tim-icons icon-settings-gear-63"></i>
                </button>
              </div>

              <div class="card-body" id="containerListCard">
                <div class="row">
                  <div class="card-group col-12">
                    <div class="card col-4 mr-3" style="border:1px solid #e44cc4">
                      <div class="card-header">
                        <span class="badge badge-pill badge-info col-1"> </span>
                        <button class="btn btn-primary btn-link col-10 text-right">
                          <i class="tim-icons icon-refresh-02"></i>
                        </button>
                      </div>
                      <div class="card-body text-center">
                        <h4 id="container-name">for test</h4>
                      </div>
                      <div class="card-footer text-center">
                        <button class="btn btn-primary btn-link ">
                          <i class="tim-icons icon-triangle-right-17" ></i>
                        </button>
                        <button class="btn btn-primary btn-link">
                          <i class="tim-icons icon-button-pause"></i>
                        </button>
                        <button class="btn btn-primary btn-link monitoring-btn">
                          <i class="tim-icons icon-tv-2"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  card-group 종료
                </div>
              </div>-->
            </div>

          </div>
      </div>
    </div>

  </div>

  <!--   Core JS Files   -->
  <script src="../static/assets/js/core/jquery.min.js" defer></script>
  <script src="../static/assets/js/core/popper.min.js" defer></script>
  <script src="../static/assets/js/core/bootstrap.min.js" defer></script>
  <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js" defer></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js" defer></script>
  <script src="../static/assets/js/containerList.js" type="text/javascript" defer></script>
</body>

</html>