<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../static/assets/img/apple-icon.png"
    />
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png" />
    <title>Baepo</title>
    <!-- Fonts and icons -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />
    <link href="../static/assets/scss/BsMultiSelect.bs4.css" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../static/assets/css/black-dashboard.css" rel="stylesheet" />
  </head>

  <body class="d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <!-- Adjusted margin -->
        <h1 class="text-center" id="mylogo" href="./containerList.html">
          BaePo
        </h1>
        <!-- BaePo logo -->
      </div>

      <div class="content mt-4">
        <div class="col-md-5 mx-auto">
          <!-- Adjusted width -->
          <div class="card" style="height: 530px">
            <div class="card-header">
              <h5 class="title mb-0">
                <a href="./containerList.html"></a>
              </h5>
              <!-- Adjusted padding -->
            </div>
            <div class="card-body">
              <form>
                <div class="card-header ml-4 mt-2">
                  <div class="row">
                    <h2 class="title mb-0">로그인</h2>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="ml-4 col-md-11">
                    <div class="form-group">
                      <label>가입한 계정으로 로그인 하세요</label>
                    </div>
                  </div>
                </div>
                <div style="padding: 70px 60px 1px">
                  <div class="ml-auto mr-auto col-md-12">
                    <div class="form-group text-center">
                      <button
                        type="button"
                        id="login-button"
                        class="btn btn-primary btn-lg d-flex align-items-center"
                      >
                        <i class="fab fa-google mr-2"></i>
                        <!-- 구글 로그인 아이콘 -->
                        구글 계정으로 로그인
                      </button>
                      <div class="card-text mt-2">
                        로그인 버튼을 클릭하시면, <br />하단 약관에 동의함을
                        간주합니다.
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="text-center">
              <div class="card-footer mt-auto">
                <small>
                  <a href="#" class="card-link">서비스 이용약관</a>
                  <a href="#" class="card-link">개인정보 처리방침</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Core JS Files -->
    <script src="../static/assets/js/core/jquery.min.js"></script>
    <script src="../static/assets/js/core/popper.min.js"></script>
    <script src="../static/assets/js/core/bootstrap.min.js"></script>
    <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
    <script src="../static/assets/js/login.js"></script>
  </body>
</html>
