<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../static/assets/img/apple-icon.png"
    />
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png" />
    <title>Baepo</title>
    <!-- Fonts and icons -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />
    <!-- Nucleo Icons -->
    <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../static/assets/scss/BsMultiSelect.bs4.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link
      href="../static/assets/css/black-dashboard.css?v=1.0.0"
      rel="stylesheet"
    />
    <!-- <style>
      ::-webkit-scrollbar {
        width: 6px; /* Set the width of the scrollbar */
      }

      ::-webkit-scrollbar-thumb {
        background-color: #ff69b4; /* Pink tone for the scrollbar thumb */
        border-radius: 6px; /* Rounded corners for the scrollbar thumb */
      }

      ::-webkit-scrollbar-thumb:hover {
        background-color: #ff1493; /* Pink tone for the scrollbar thumb on hover */
      }
    </style> -->
  </head>

  <!-- 회원탈퇴 시, 주의 모달창 구현  -->
  <div
    class="modal fade"
    id="withdrawalModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="withdrawalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="withdrawalLabel">
            <strong>※ 주의 ※</strong>
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <li>
            지금 탈퇴하시면 현재 배포된 서비스가 모두 중단되고, 삭제되어 복구가
            불가능합니다.
          </li>
        </div>
        <div class="modal-footer">
          <div class="text-center text-danger font-weight-bold">
            탈퇴하시겠습니까?
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="withdrawalButton">
            탈퇴
          </button>
        </div>
      </div>
    </div>
  </div>

  <body class="d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <!-- Adjusted margin -->
        <h1 class="text-center" id="mylogo" href="./containerList.html">
          BaePo
        </h1>
        <!-- BaePo logo -->
      </div>
      <div class="content mt-4">
        <div class="col-md-5 mx-auto">
          <!-- Adjusted width -->
          <div class="card">
            <div class="card-header">
              <h5 class="title mb-0">
                <a href="./containerList.html"><-메인으로</a>
              </h5>
              <!-- Adjusted padding -->
            </div>
            <div class="card-body">
              <form>
                <div class="card-header ml-4 mt-2">
                  <div class="row">
                    <h2 class="title mb-0">Profile</h2>
                  </div>
                </div>
                <div class="text-center mb-4">
                  <img
                    class="avatar rounded-circle"
                    src="../static/assets/img/user.png"
                    alt="Profile Picture"
                    style="width: 180px; height: 180px"
                  />
                </div>
                <div class="row mb-3">
                  <div class="ml-4 col-md-11">
                    <div class="form-group">
                      <label>이메일</label>
                      <input
                        type="text"
                        class="form-control text-center"
                        disabled=""
                        placeholder="Company"
                        value="{{useremail}}"
                        style="color: rgb(251, 251, 255)"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="ml-4 col-md-11">
                    <div class="form-group">
                      <label>가입일</label>
                      <input
                        type="text"
                        class="form-control text-center"
                        disabled=""
                        placeholder="Company"
                        value="{{userDate}}"
                        style="color: rgb(251, 251, 255)"
                      />
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <div class="card-footer">
                    <small>
                      <a href="#" class="card-link" id="logoutButton"
                        >로그아웃</a
                      >
                      <a
                        href="#"
                        class="card-link"
                        id="withdrawalModalButton"
                        >회원탈퇴</a
                      >
                    </small>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Core JS Files -->
    <script src="../static/assets/js/core/jquery.min.js"></script>
    <script src="../static/assets/js/core/popper.min.js"></script>
    <script src="../static/assets/js/core/bootstrap.min.js"></script>
    <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="../static/assets/js/mypage.js"></script>
    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  </body>
</html>
