<meta name="google-signin-scope" content="profile email" />
<meta
  name="google-signin-client_id"
  content="9542596386-2kkmu7fkdv00p6pomousdniphu0job4i.apps.googleusercontent.com"
/>
<!-- <script src="https://apis.google.com/js/platform.js?" async defer></script> -->

<!-- <html>
  <div
    class="g-signin2"
    data-theme="dark"
    data-width="260"
    data-height="50"
    data-longtitle="true"
    data-onsuccess="onSignIn"
  >
    <script>
      window.onload = function onSignIn(googleUser) {
        google.accounts.id.initialize({
          client_id:
            "9542596386-2kkmu7fkdv00p6pomousdniphu0job4i.apps.googleusercontent.com",
          callback: handleCredentialResponse,
        });
        google.accounts.id.prompt();
        return "로그인 성공";
      };

      //   function Google() {
      //     const googleLoginBtn = useRef(null);
      //     const [token, setToken] = useState("");

      //     useEffect(() => {
      //       googleSDK();
      //     }, []);

      //     //SDK 초기 설정 및 내 API초기화
      //     const googleSDK = () => {
      //       window.googleSDKLoaded = () => {
      //         console.log(window.gapi);
      //         window.gapi.load("auth2", () => {
      //           const auth2 = window.gapi.auth2.init({
      //             client_id: "내 클라이언트 ID",
      //             scope: "profile email",
      //           });
      //           //버튼 클릭시 사용자 정보 불러오기
      //           auth2.attachClickHandler(
      //             googleLoginBtn.current,
      //             {},
      //             (googleUser) => {
      //               const profile = googleUser.getBasicProfile();
      //               console.log(profile);
      //               console.log(
      //                 `Token || ${googleUser.getAuthResponse().id_token}`
      //               );
      //               setToken(googleUser.getAuthResponse().id_token);
      //               console.log(`ID: ${profile.getId()}`);
      //               console.log(`Name: ${profile.getName()}`);
      //               console.log(`Image URL: ${profile.getImageUrl()}`);
      //               console.log(`Email: ${profile.getEmail()}`);
      //             },
      //             (error) => {
      //               alert(JSON.stringify(error, undefined, 2));
      //             }
      //           );
      //         });
      //       };
      //       //구글 SDK 불러오기
      //       (function (d, s, id) {
      //         let js;
      //         const fjs = d.getElementsByTagName(s)[0];
      //         if (d.getElementById(id)) {
      //           return;
      //         }
      //         js = d.createElement(s);
      //         js.id = id;
      //         js.src =
      //           "https://apis.google.com/js/platform.js?onload=googleSDKLoaded";
      //         fjs.parentNode.insertBefore(js, fjs);
      //       })(document, "script", "google-jssdk");
      //     };

      //     return (
      //       <GoogleBtn id="gSignInWrapper">
      //         <span class="label" />
      //         <div
      //           ref={googleLoginBtn}
      //           id="customBtn"
      //           className="customGPlusSignIn"
      //         >
      //           <span className="icon"></span>
      //           <span className="buttonText">Login with Google</span>
      //         </div>
      //       </GoogleBtn>
      //     );
      //   }
      //   const GoogleApiPOST = (token) => {
      //     axios
      //       .get(`${socialLoginAPI}/user/google`, {
      //         headers: {
      //           Authorization: token,
      //           "Content-Type": "application/json",
      //         },
      //       })
      //       .then((res) => {
      //         sessionStorage.setItem("token", res.data.token);
      //         alert("로그인 되었습니다");
      //         history.push("/home");
      //       })
      //       .catch((error) => alert("Error가 발생하였습니다", error));
      //   };
    </script>
  </div>
</html> -->

<html>
  <body>
    <script src="https://apis.google.com/js/platform.js?" async defer></script>
    <div
      class="g-signin2"
      data-theme="dark"
      data-width="260"
      data-height="50"
      data-longtitle="true"
    >
      <script>
        function onSignIn(googleUser) {
          var id_token = googleUser.getAuthResponse().id_token;
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "https://yourbackend.example.com/tokensignin");
          xhr.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
          );
          xhr.onload = function () {
            console.log("Signed in as: " + xhr.responseText);
          };
          xhr.send("idtoken=" + id_token);
        }
      </script>
    </div>
  </body>
</html>
